body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #bad7e9;
}

.container {
  background: rgba(255, 255, 255, 0.4);
  padding: 28px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}
