body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #bad7e9;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  padding: 28px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.heading {
  font-size: 28px;
}

.input {
  height: 50px;
  width: 300px;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 0 40px;
  border-radius: 5px;
}

.meaning-container {
  display: none;
}
